<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('header'); -%>
        <title>about</title>
    </head>

<body id="page-top">
                <!------------------------ Begin Page Content --------------------------->
                <div class="container-fluid">
                    <div class="row justify-content-center font-weight-bold">
                        <h1 class="ml-3" style="font-size: 5rem;">About</h1>
                    </div>

                    <div class="row justify-content-center mt-5">
                        <h2><u>HQ office address</u></h2>
                    </div>
                    <div class="row justify-content-center">
                        <h4>Karmiel, Ort Braude College</h4>
                    </div>
                    <div class="row justify-content-center">
                        <div id="map"></div>
                    </div>
                    <div class="row mt-5 justify-content-center">
                        <h2><u>E-mail</u></h2>
                    </div>
                    <div class="row justify-content-center">
                        <a href="mailto:csportbraude@hotmail.com"
                            style="font-size: 1.5rem;">csportbraude@hotmail.com</a>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <h2><u>Website</u></h2>
                    </div>
                    <div class="row justify-content-center">
                        <a href="https://www.google.com" style="font-size: 1.5rem;">www.google.com</a>
                    </div>
                    <div class="row mt-5 ml-5 justify-content-center">
                        <div class="col-12 col-md-2 col-lg-2">
                            <button class="button" onclick="windowlocation.href = 'https://www.facebook.com';"
                                data-hover="Facebook">
                                <div><i class="fab fa-facebook" style="font-size: 3rem;"></i></div>
                            </button>

                        </div>
                        <div class="col-12 col-md-2 col-lg-2">
                            <button class="button" onclick="window.location.href = 'https://www.twitter.com';"
                                data-hover="Twitter">
                                <div><i class="fab fa-twitter" style="font-size: 3rem;"></i></div>
                            </button>
                        </div>
                        <div class="col-12 col-md-2 col-lg-2">
                            <button class="button" onclick="window.location.href = 'https://www.facebook.com';"
                                data-hover="Telegram">
                                <div><i class="fa fa-telegram" style="font-size: 3rem;"></i></div>
                            </button>
                        </div>
                    </div>
                    <div class="container-fluid col-sm-1">
                        <div class="row mb-2 justify-content-center">
                            <button onclick=" window.open('/public/files/privacy.pdf'); return true;" type="button"
                                class="btn btn-primary btn-block">
                                privacy policy
                            </button>

                        </div>
                        <div class="row mb-4 justify-content-center">
                            <button onclick=" window.open('/public/files/terms-of-use.pdf'); return true;" type="button"
                                class="btn btn-block btn-primary" data-toggle="modal" data-target="#staticBackdrop">
                                Terms of use
                            </button>
                        </div>
                    </div>
                </div>
                <!-- .container-fluid -->

            </div>
            <!-------------------------------- End of Main Content ------------------------->
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <form action="/logout" method="POST">
                            <button type="submit" class="btn btn-primary" href="login.html">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>
            // Initialize and add the map
            function initMap() {
                // The location of Uluru
                var uluru = { lat: 32.913894, lng: 35.282818 };
                // The map, centered at Uluru
                var map = new google.maps.Map(
                    document.getElementById('map'), { zoom: 15, center: uluru });
                // The marker, positioned at Uluru
                var marker = new google.maps.Marker({ position: uluru, map: map });
            }
        </script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB94xIXApRugxl7okJ-z0OYPEdpv3MyHGQ&callback=initMap">
            </script>
</body>

</html>