<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!------------------------------- CSS StyleSheet link ---------------------------->
    <link rel="stylesheet" media="all" type="text/css" href="/public/css/styles.css">

    <!------------------------------- Bootstrap CDN ---------------------------------->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <!------------------------------- Font Awesome CDN -------------------------------->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <link rel='shortcut icon' type='image/x-icon' href='../public/css/images/favicon.ico' />
    <title>dashboard</title>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-------------------- Sidebar ------------------->
        <ul class="navbar-nav bg-dark bg-gradient-primary sidebar sidebar-dark accordion collapse-inner collapse show"
            id="accordionSidebar">

            <!---------- Sidebar - Brand ------------>
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
                <div class="sidebar-brand-text mx-3">CSP</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading"> Buy </div>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/buy-pc">
                    <i class="fas fa-laptop"></i>
                    <span>PC</span></a>
                <a class="nav-link" href="/buy-cell-phone">
                    <i class="fas fa-mobile-alt"></i>
                    <span>Cell Phone</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading"> Purchases </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-shopping-cart"></i>
                    <span>My Purchases</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Cell Phone</h6>
                        <% if(purchases.length !== 0) { %>
                        <% for(var i=0; i<purchases.length ;i++){ %>
                        <div class="row">
                            <div class="col-sm-3">
                                <% for(var j=0; j<phones.length; j++) { %>
                                <% if(purchases[i].Product === phones[j].id) { %>
                                <img class="img-resposnsive" src=<%= phones[j].src %>>
                                <% } %>
                                <% } %>
                            </div>
                            <div class="col-sm">
                                <p class="item-name"><%= purchases[i].Product %></p>
                                <p class="item-p"><%=purchases[i].cnt%> units</p>
                            </div>
                        </div>
                        <% if(i+1 !== purchases.length){ %>
                        <hr>
                        <% } %>
                        <% } %>
                        <% } else { %>
                        <div class="row justify-content-center">
                            <div class="display-5">No purchases yet</div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-dark bg-dark topbar mb-4 shadow static-top justify-content-end">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3"
                        data-toggle="collapse" data-target="#accordionSidebar">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="" id="">
                        <ul class="navbar-nav">
                            <li class="nav-item mr-3">
                                <a class="nav-link" href="/buy-cell-phone">Buy Cell Phone</a>
                            </li>
                            <li class="nav-item mr-5">
                                <a class="nav-link" href="/buy-pc">Buy PC</a>
                            </li>

                            <div class="topbar-divider d-none d-lg-block"></div>
                        </ul>
                    </div>

                    <div class="mr-1 ml-3">
                        <ul class="navbar-nav ml-auto">
                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 ml-1 d-none d-lg-inline"><%= user %></span>
                                    <img class="img-profile rounded-circle"
                                        src="https://scontent.fsdv2-1.fna.fbcdn.net/v/t1.0-9/44536570_10217016452380949_4084243414340599808_o.jpg?_nc_cat=110&amp;_nc_sid=09cbfe&amp;_nc_ohc=vbp9lkJfA3oAX-koVQ3&amp;_nc_ht=scontent.fsdv2-1.fna&amp;oh=cf7f8a4631d09f9ffeb7de236851c4d9&amp;oe=5EE3C10C">
                                </a>

                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby=" ">
                                    <a class="dropdown-item" href="/profile">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <a class="dropdown-item" href="/about">
                                        <i class="fas fa-info fa-sm fa-fw mr-2 text-gray-400"></i>
                                        About
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>
                        </ul>

                    </div>
                </nav>
                <!-- End of Topbar -->

                <!------------------------ Begin Page Content --------------------------->
                <!-- <div class="container-fluid">

                    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
                        <div class="bg-light mr-md-3 pt-3 px-3 pb-md-5 px-md-5 text-center overflow-hidden">
                            <div class="my-3 py-3">
                                <a href="/buy-cell-phone" style="color:black; "><h2 class="buy-dashboard-buttons display-5">Buy Cell Phone</h2></a>
                                <p class="lead display-4">Choose your new flagship with our vast variety of smartphones</p>
                            </div>
                            <a href="/buy-cell-phone">
                                <div class=" hover01">
                                  <div class="mx-auto" style="max-width: 384px; max-height: 288px; border-radius: 21px 21px 0 0;"><figure><img class="img-fluid" src="public/css/images/Phones.png"></figure></div>
                                </div>
                            </a>
                        </div>
                        <div class="bg-dark mr-md-3 pt-3 px-3 pb-md-5 pb-sm-5 px-md-5 text-center text-white overflow-hidden">
                            <div class="my-3 p-3">
                                <a href="/buy-pc" style="color:white; "><h2 class="display-5">Buy PC</h2></a>
                                <p class="lead display-4">Choose your new PC with our cheapest PC's in the market</p>
                            </div>
                            <a href="/buy-pc">
                                <div class=" hover01">
                                    <div class="mx-auto" style="max-width: 314px; max-height: 250px; border-radius: 21px 21px 0 0;"><figure><img class="img-fluid" src="public/css/images/PC.png"></figure></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
                        <div class="col-md-5 p-lg-5 mx-auto my-5">
                            <h1 class="display-3 font-weight-normal">Coming Soon</h1>
                            <p class="lead font-weight-normal display-4">Stay up to date</p>
                        </div>
                        <div class="product-device d-none d-lg-block d-md-none comming-soon-pic"></div>
                        <div class="product-device-2 d-none d-lg-block d-md-none comming-soon-pic-2"></div>
                    </div>

                </div> -->

                <div class="row py-5 align-content-center flex-wrap" style="margin: 2rem 2rem 2rem 0; padding-left: 5rem;">
                    <div class="col-lg-4 col-md-12">
                        <a href="/buy-cell-phone">
                            <div class="hover01">
                              <div class="mx-auto" style="max-width: 288px; max-height: 288px; border-radius: 21px 21px 0 0;"><figure><img class="img-fluid" src="public/css/images/Phones.png"></figure></div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="my-3 py-3 text-center text-lg-left">
                            <p class="text-responsive-1">Choose your new flagship with our vast variety of smartphones</p>
                            <a href="/buy-cell-phone" style="color:black;" class="btn btn-lg btn-outline-dark justify-self-center">Buy Cell Phone</a>
                        </div>
                    </div>
                </div>
                <div class="row bg-dark py-5 d-flex flex-wrap-reverse align-content-center" style="margin: 2rem 2rem; color: white; border-radius: 5rem;">
                    <div class="col-lg-8 col-md-12 px-lg-5">
                        <div class="my-3 py-3 text-center text-lg-left">
                            <p class="text-responsive-1">Choose your new PC with our cheapest PC's in the market</p>
                            <a href="/buy-pc" class="btn btn-lg btn-light px-sm-5">Buy PC</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <a href="/buy-pc">
                            <div class="hover01">
                              <div class="mx-auto mt-2" style="max-width: 250px; max-height: 250px; border-radius: 21px 21px 0 0;"><figure><img class="img-fluid" src="public/css/images/PC.png"></figure></div>
                            </div>
                        </a>
                    </div>
                </div>


                <!-- Start of Carousel-->

                <div id="carouselExampleControls" class="carousel slide" data-ride="false" style="margin: 5rem;" data-ride="carousel" data-interval="10000">
                    <div class="carousel-inner">
                      <div class="carousel-item align-content-center active" style="padding: 0 15%; height: auto;">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-4 col-12">
                                <img class="img-fluid" src="/public/css/images/3.png">
                            </div>
                            <div class="col-lg-8 col-12">
                                <h1 class="text-responsive justify-content-center d-flex">Coming Soon</h1>
                                <h2 class="lead font-weight-normal justify-content-center d-flex">Stay up to date</h2>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item" style="padding: 4% 15%; height: auto">
                        <div class="row d-flex align-items-center d-flex flex-wrap-reverse">
                            <div class="col-lg-8 col-12">
                                <h1 class="text-responsive justify-content-center d-flex py-md-3 py-sm-3">Coming Soon</h1>
                                <h2 class="lead font-weight-normal justify-content-center d-flex">Stay up to date</h2>
                            </div>
                            <div class="col-lg-4 col-12">
                                <img class="img-fluid" src="/public/css/images/xdr.png">
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item" style="padding: 0 15%; height: auto">
                        <div class="row d-flex align-items-center justify-content-center">
                            <div class="col-lg-4 col-4">
                                <img class="img-fluid" src="/public/css/images/iphone7.png">
                            </div>
                            <div class="col-lg-4 col-8">
                                <h1 id="sale" class="text-responsive-1 justify-content-center text-danger">Sale</h1>
                                <h1 class="text-responsive-1 font-weight-bold">50%</h1>
                            </div>
                            <div class="col-lg-4 justify-content-center d-lg-block d-none">
                                <div class="row">
                                    <del class="text-danger"><h2 class="font-weight-normal col-12 text-dark">800$</h2></del>
                                    <h2 class="font-weight-normal col-12">400$</h2>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>

                <!-- End of Carousel-->
                <!-- .container-fluid -->

            </div>
            <!-------------------------------- End of Main Content ------------------------->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->



    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <form action="/logout" method="POST">
                        <button type="submit" class="btn btn-primary" href="login.html">Logout</button> 
                    </form>
                </div>
            </div>
        </div>
    </div>



</body>

</html>