<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!------------------------------- CSS StyleSheet link ---------------------------->
  <link rel="stylesheet" media="all" type="text/css" href="/public/css/styles.css">

  <!------------------------------- Bootstrap CDN ---------------------------------->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!------------------------------- Font Awesome CDN -------------------------------->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">


  <link rel='shortcut icon' type='image/x-icon' href='../public/css/images/favicon.ico' />
  <title>reset-password</title>

</head>

<body>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-8 col-lg-6">
                <div class="div-100 d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-lg-9 mx-auto">
                                <div class="row justify-content-center mr-4 mb-3">
                                    <img src="/public/css/images/logo.png" style="height: 6rem; width: 7rem;">
                                </div>
                                <h1 class="mx-auto forgot-password-heading mb-5 pl-5 text-dark col-9">Reset password</h1>
                                <!----------------------- Forgot Password Form --------------------->
                                <form action="/reset-password/<%= token %>" method="POST">
                                    <div class="row">
                                        <div class="col">
                                            <!----------------------- firstname input ------------------------>
                                            <div class="form-label-group">
                                                <input type="password" name="newpassword" id="newpassword" class="form-control ml-3 col-11"
                                                    placeholder="New password" required autofocus>
                                                <label for="newpassword"><i class="fas fa-lock ml-3"
                                                        style="font-size: 20px;"></i> New password</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <!------------------------ lastname input ------------------------>
                                            <div class="form-label-group">
                                                <input type="password" name="confirmpassword" id="confirmpassword" class="form-control col-11 ml-1"
                                                    placeholder="Confirm password" required>
                                                <label for="confirmpassword" class=""><i class="fas fa-lock mr-1"
                                                        style="font-size: 20px;"></i> Confirm password</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <button class="btn btn-secondary btn-block text-uppercase font-weight-bold mb-2 w-50"
                                            type="submit"><i class="fas fa-sign-in-alt" style="font-size: 20px;"></i>Reset</button>
                                    </div>
                                </form>
                                <!----------------------- End Form --------------------->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---------------------- Side Image -------------------->
            <div id="particles-js" class="d-none d-md-flex col-md-4 col-lg-6 bg-image-sign-in"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script>
        particlesJS.load('particles-js', '/public/json/particles.json', function(){
            console.log("particles.js loaded...");
        })
    </script>
</body>
</html>