<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!------------------------------- CSS StyleSheet link ---------------------------->
    <link rel="stylesheet" media="all" type="text/css" href="/public/css/styles.css">

    <!------------------------------- Bootstrap CDN ---------------------------------->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!------------------------------- Font Awesome CDN -------------------------------->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <!------------------------------- reCAPTCHA -------------------------------->
    <script src="https://www.google.com/recaptcha/api.js"></script>


    <title>Sign in</title>

</head>

<body>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-8 col-lg-6">
                <div class="div-100 d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-lg-6 mx-auto">
                                <h1 class="mx-auto sign-in-up-heading mb-5 col-6">Sign in</h1>
                                <!----------------------- Start Form --------------------->
                                <form id='verify-form' method="POST">
                                    <div class="form-label-group">
                                        <!-- <input id="inputEmail" name="email" class="form-control"
                                            placeholder="Email address" value="<//%= typeof email != 'undefined' ? email : '' %>" required autofocus> -->
                                            <input id="inputEmail" name="email" class="form-control"
                                            placeholder="Email address" value="majdz-1@live.com" required autofocus>
                                        <label for="inputEmail"><i class="far fa-envelope" style="font-size: 20px;"></i>
                                            Email address</label>
                                    </div>

                                    <div class="form-label-group">
                                        <!-- <input type="password" id="inputPassword" name="password" class="form-control"
                                            placeholder="Password" value="<//%= typeof password != 'undefined' ? password : '' %>" required> -->
                                            <input type="password" id="inputPassword" name="password" class="form-control"
                                            placeholder="Password" value="majd" required>
                                        <label for="inputPassword"><i class="fas fa-lock" style="font-size: 20px;"></i>
                                            Password</label>
                                    </div>
                                    <% if (typeof error != 'undefined') { %>
                                        <div class="invalid-feedback"><%= error %></div>
                                      <% } %>
                                    <div class="g-recaptcha" data-sitekey="6LfsdP0UAAAAAOrqd6tg9l9ve3Q-OsoRvb_hDxrb">
                                        <% if (typeof err != 'undefined') { %>
                                            <div class="invalid-feedback"><%= err %></div>
                                          <% } %>
                                    </div>

                                    <div class="custom-control custom-switch mb-3">
                                        <input type="radio" class="custom-control-input" id="customCheck1"
                                            name="checkbox" value="fadi">
                                        <label class="custom-control-label" for="customCheck1">Remember password</label>
                                    </div>

                                    <button
                                        class="btn btn-primary btn-block text-uppercase font-weight-bold mb-2 sign-in-up-btn"
                                        type="submit"><i class="fas fa-sign-in-alt" style="font-size: 20px;"></i>Sign
                                        in</button>
                                        <div class="row justify-content-center">
                                        <!-- <div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div> -->
                                        <a href="/auth/facebook">Login with Facebook</a>
                                        </div>
                                    <div class="text-center">
                                        <a class="small" href="/forgot-password">Forgot password?</a>
                                    </div>
                                </form>
                                <!----------------------- End Form --------------------->
                                <p class="d-flex justify-content-center">Don't have an account yet?<a href="/sign-up"
                                        class="card-link"> Sign up</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---------------------- Side Image -------------------->
            <div id="particles-js" class="d-none d-md-flex col-md-4 col-lg-6 bg-image-sign-in"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script>
        particlesJS.load('particles-js', '/public/json/particles.json', function () {
            console.log("particles.js loaded...");
        })
    </script>


<!-- <script>

    function statusChangeCallback(response){
        console.log(response);
    }

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '2480750618889915',
        cookie     : true,
        xfbml      : true,
        version    : 'v7.0'
      });
        
      FB.AppEvents.logPageView();   


    FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
    });
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script> -->

</body>

</html>